body{
    display: flex;
    flex-direction: column;
    justify-content:;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: lightgray;
    font-family: serif;
}

.logo {
    font-size: 36px;
}
ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    font-size: 18px;
    align-items: center;
    text-decoration: none;
}

.ramen {
    max-width: 300px;
    max-height: 300px;
    justify-content: center;
    align-items: center;
}

.titlesection {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.button {
    max-width: 100px;
    max-height: 60px;
}

.section-one {
    display: flex;
    background-image: url(/images/inarimongates.jpg);
    justify-content: space-around;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: lightblue;
    

}
