.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightgray;
}

.links {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

li {
    list-style: none;

}
